header {
	position: relative;

	margin: 45px 0;
	text-align: center;

	vertical-align: bottom;

	h1 {
		vertical-align: bottom;
		display: inline-block;
		font-size: 117.5rem;
	}

	h2 {
		margin-left: 2em;
	}
}

footer {
	margin: 0 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	p {
		font-size: 21.07rem;
	}
}

header h2, footer h2 {
	vertical-align: bottom;
	display: inline-block;
	line-height: 0.6;
	font-size: 22.5rem;
	text-align: center;

	margin-top: 10px;

	margin-bottom: 1.2em;
	width: auto;

	a {
		display: block;
	}

	img {
		//max-width: 35rem;
		max-width: 210px;
		max-height: 84px;
	}
}

@media (max-width: 1220px) {
	header h2 {
		display: none;
	}
}

@media (max-width: 940px) {
	header h1 {
		font-size: 15vw;
	}
}

@media (min-width: 1220px) {
	footer {
		justify-content: space-between;

		h2 {
			display: none;
		}
	}
}