html {
	font-size: 7.9%;
}

@media screen and (max-width: 450px) {
	html { font-size: 6% }
}

body {
	line-height: 1.25;
	font-family: 'disappointed-regular', arial, sans-serif;

	&.modal_active {
		overflow: hidden !important;
	}
}

html, body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

button {
	font-size: 20rem;
	border-radius: 3px;

	border: none;
	color: white;
	background-color: $color_other;
	box-shadow: 0 3px 0 0 #652080;

	padding: 10px 55px;

	img {
		margin-right: 10px;
	}
}

h3, legend {
	font-size: 38.81rem;
}

label {
	font-size: 25.11rem;
}

$wrapper_width: 1256px;
#wrapper {
	max-width: $wrapper_width;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: $color_link;
}

// Arrow Ranges
.arrow {
	display: inline-flex;
	position: relative;
	vertical-align: top;

	$thumb_height: 30px;
	$slider_height: 14px;

	$arrow_width: 110px;
	$arrow_height: 13px;

	$circle_border_size: $slider_height * 0.7;
	$circle_center_size: $slider_height * 0.7;
	$circle_size: $circle_center_size + $circle_border_size * 2;

	margin-left: $circle_size - 5px;

	.arrowhead {
		content: '';

		display: inline-block;

		height: 0;
		width: 0;
		pointer-events: none;

		border: $arrow_height solid transparent;
		border-left-color: $color_gender_identity;
		border-left-width: $arrow_width;

		margin-top: $thumb_height / 2 - $arrow_height / 2;
		margin-left: -1px;
	}

	.fletching {
		content: '';
		position: absolute;
		z-index: 1;

		display: block;

		height: $circle_center_size;
		width: $circle_center_size;
		top: ($circle_size - $slider_height) / 2;

		left: -$circle_size + 3.5px;

		border-radius: 50%;
		background-color: white;
		border: $circle_border_size solid $color_gender_identity;
	}

	input[type="range"] {
		height: 40px;
		flex: 1;

		-webkit-appearance: none;

		&:focus {
			outline: none;
		}

		@mixin thumb() {
			-webkit-appearance: none;

			position: relative;
			z-index: 2;

			display: block;
			height: $thumb_height;
			width: 10px;
			margin-top: -($thumb_height - $slider_height) / 2;

			cursor: pointer;
			background-color: darken($color-gender_identity, 10);
			border: none;
			border-radius: 0;
		}

		&::-webkit-slider-thumb {
			@include thumb();
		}

		&::-moz-range-thumb {
			@include thumb();
		}

		&::-ms-thumb {
			@include thumb();
		}

		@mixin track() {
			height: $slider_height;
			margin-top: $arrow_height/2;

			cursor: pointer;
			background-color: $color_gender_identity;
		}

		&::-webkit-slider-runnable-track {
			@include track();
			padding-left: 2px;
		}

		&::-moz-range-track {
			@include track();
			padding-left: 5px;
		}

		&::-ms-track {
			@include track();
		}
	}
}

@mixin setArrowColor($color) {
	.arrow {
		.arrowhead {
			border-left-color: $color;
		}

		.fletching {
			border-color: $color;
		}

		input[type="range"] {
			@mixin thumb() {
				background-color: darken($color, 10);
			}

			&::-webkit-slider-thumb {
				@include thumb();
			}

			&::-moz-range-thumb {
				@include thumb();
			}

			&::-ms-thumb {
				@include thumb();
			}

			@mixin track() {
				background-color: $color;
			}

			&::-webkit-slider-runnable-track {
				@include track();
			}

			&::-moz-range-track {
				@include track();
			}

			&::-ms-track {
				@include track();
			}
		}
	}
}