main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	section:first-of-type {
		margin: 40px 72px 60px 90px;
		//margin-top: 40px;
		//margin-bottom: 60px;
	}
}

.unicorn {
	$ratio: 1.2;
	width: $unicorn_width * $ratio;
	height: $unicorn_height * $ratio;

	background: url(../img/awesome_unicorn.png);
	background-size: cover;

	@media (max-width: 1255px) {
		width: $unicorn_width;
		height: $unicorn_height;
	}

	position: relative;

	* {
		position: absolute;
		background-size: cover;
	}

	.gender_identity {
		background-image: url(../img/bubble.png);
		width: (124px / $unicorn_width) * 100%;
		height: (106px / $unicorn_height) * 100%;

		right: (-60px / $unicorn_width) * 100%;
		top: (-10px / $unicorn_height) * 100%;

		&::after {
			content: '';
			display: block;

			background-image: url(../img/gender_identity.png);
			background-size: cover;

			width: (48px / 124px) * 100%;
			height: (28px / 106px) * 100%;
			
			position: absolute;
			left: (35px / 124px) * 100%;
			top: (32px / 106px) * 100%;
		}
	}

	.gender_expression {
		background-image: url(../img/gender_expression.png);

		width: (103px / $unicorn_width) * 100%;
		height: (404px / $unicorn_height) * 100%;

		left: (-75px / $unicorn_width) * 100%;
		top: (30px / $unicorn_height) * 100%;
	}

	.attraction {
		background-image: url(../img/attraction.png);

		width: (65px / $unicorn_width) * 100%;
		height: (39px / $unicorn_height) * 100%;

		left: 46%;
		top: 53%;
	}

	.assigned_sex {
		background-image: url(../img/assigned_sex.png);

		width: (55px / $unicorn_width) * 100%;
		height: (71px / $unicorn_height) * 100%;

		bottom: (44px / $unicorn_height) * 100%;
		left: 40%;
	}
}

#unicorn_selection {

	// Form Look
	fieldset {
		position: relative;
		padding-top: 80px;
		padding-bottom: 20px;

		&:not(:first-of-type) {
			border-top: 3.5px black dashed;
		}

		legend {
			position: absolute;
			top: 15px;

			&::before {
				content: '';
				display: inline-block;
				background-size: cover;
				vertical-align: middle;
			}
		}

		$baseMargin: 20px;

		&.select_gender_identity legend::before {
			background-image: url(../img/gender_identity.png);
			height: 28px;
			width: 48px;

			margin-right: $baseMargin - 2px;
		}

		&.select_gender_expression legend::before {
			width: 38px;
			height: 38px;
			border-radius: 50%;
			background-color: $color_gender_expression;

			margin-right: $baseMargin + 4px;
		}

		&.select_assigned_sex {

			// flexbox doesn't work on fieldsets
			.field_wrapper {
				display: flex;
				flex-direction: row;

				> div {
					flex: 1;
					text-align: center;

					display: flex;
					flex-direction: column-reverse;

					position: relative;
				}
			}

			input[type="radio"] {
				vertical-align: middle;

				width: 30px;
				height: 30px;

				display: block;
				margin: 0 auto;

				+ label::after {
					content: '';

					//display: block;
					display: table-cell;

					width: 30px;
					height: 30px;

					font-size: 30px;
					line-height: 100%;
					vertical-align: middle;
					text-align: center;

					position: absolute;
					left: 50%;
					bottom: 0;
					margin-left: -15px;

					border-radius: 50%;
				}

				&:checked + label::after {
					content: '●';
				}

				&[value="f"] + label::after {
					background-color: $color_female;
					color: lighten($color_female, 25%);
				}

				&[value="m"] + label::after {
					background-color: $color_male;
					color: lighten($color_male, 25%);
				}

				&[value="o"] + label::after {
					background-color: $color_other;
					color: lighten($color_other, 25%);
				}
			}

			legend::before {
				background-image: url(../img/assigned_sex.png);

				$originalHeight: 71;

				width: 55px / $originalHeight * 48;
				height: 48px;

				margin-left: 5px;
				margin-right: $baseMargin - 5px;
			}
		}

		&.select_attraction_physical legend::before {
			background-image: url(../img/attraction_physical.png);
		}

		&.select_attraction_emotional legend::before {
			background-image: url(../img/attraction_emotional.png);
		}

		&.select_attraction legend::before {
			width: 34px;
			height: 30px;

			vertical-align: top;
			$padding: (48px - 30px) / 2;
			margin: $padding $baseMargin $padding 0;
		}
	}

	// Arrow Ranges
	fieldset {
		margin-right: 25px;
		margin-left: 25px;

		&.select_gender_identity, &.select_gender_expression,
		&.select_attraction_physical, &.select_attraction_emotional {
			label {
				display: flex;
				flex-wrap: wrap-reverse;
				white-space: nowrap;

				.arrow {
					flex: 1;

					@media (min-width: 769px) {
						max-width: 70%;
						min-width: 500px;
					}

					@media (max-width: 770px) {
						min-width: 100%;
					}
				}
			}
		}

		&.select_gender_identity {
			@include setArrowColor($color_gender_identity);
		}

		&.select_gender_expression {
			@include setArrowColor($color_gender_expression);
		}

		&.select_attraction_physical {
			@include setArrowColor($color_attraction_physical);
		}

		&.select_attraction_emotional {
			@include setArrowColor($color_attraction_emotional);
		}
	}
}